span.statusOK {
    color:green;
    font-weight:bold;
}

span.statusError {
    color:red;
    font-weight:bold;
}


table.adminTable {
    width:100%;
	font-size: 14px;
}

.processing-tabs {
	font-size: 18px;
}

table.adminTable td {
    padding:1em;
}

table.adminTable thead td {
    background-color:#ddddee;
}

.add-config {
	float: right;
	font-size: medium;
}

.clear-btn {
	background: #222 url(../images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 18px 7px;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	border: 0;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin-right: .6em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.adminapp #photo-wrapper, .adminapp .propertyTabsList {
	display: none;
}

#adminapp-back {
	margin-bottom: 20px;
	font-size: 12px;
}

#adminapp-back a {
	text-decoration: none;
	margin-right: 10px;
}

.processing-tabs a.adminapp-active {
	color: #064d68;
}
