span.statusOK {
    color:green;
    font-weight:bold;
}

span.statusError {
    color:red;
    font-weight:bold;
}


table.adminTable {
    width:100%;
}

table.adminTable td {
    padding:1em;
}

table.adminTable thead td {
    background-color:#ddddee;
}

.add-config {
	float: right;
	font-size: medium;
}
